.work-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
  border: 2px solid #55cfd8;
  padding: 20px;
}
.work-box {
  position: relative;
}

.work-box:hover {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.4s;
}

.work-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: white;
  text-align: center;
  text-decoration: 0.5px solid #55cfd8 underline;
}
ul li {
  list-style-type: square;
}

.description {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
p {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 4rem;
}
a {
  text-decoration: none;
}
